body{
  font-family: Arial, sans-serif;
  background:#f5f6fa;
  margin:0;
}

header{
  background:#2d6cdf;
  padding:15px 25px;
  color:white;
}

nav a{
  color:white;
  margin-right:15px;
  text-decoration:none;
  font-weight:600;
}

.container{
  max-width:900px;
  margin:25px auto;
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
}

footer{
  text-align:center;
  padding:15px;
  color:#777;
}
button{
  background:#2d6cdf;
  padding:8px 15px;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
}
